
frontend/node_modules/
frontend/build
backend/node_modules/
backend/public
frontend-server/node_modules/
frontend-server/build
frontend-server/public
frontend-server/logs/*

backend/logs/*


backend/files/submit/
backend/files/sourcecode/
backend/files/solution/
backend/files/testcase/

backend/files/group/

logs/

backend/.env
frontend/.env
frontend-server/.env